/* Font Family */
@font-face {
  font-family: "Heebo-Regular";
  src: url("./fonts/static/Heebo-Regular.ttf");
}

/* Body */
body {
  margin: 0;
  height: 100vh;
  font-family: "Heebo-Regular", sans-serif;
  color: white;
  background: white;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  background-color: #4979c9;
}

/* Content / Card */
.content {
  position: relative;
  /* perspective: 4000px; */ /* More 3D Efect  */
  /* background-image: url(./img/pokemon-background-desktop-1600x900.jpg); */
  background-color: #211799;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 3px solid black;
}

.card {
  width: 320px;
  height: 446px;
  background-color: #211799;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;  
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px;
  cursor: pointer;  
}

.card.active {  
  transform: scale(1.2); /* Enlarge the active card */
  z-index: 2; /* Bring the active card to the front */
}

.card.active:before {
  opacity: 1;
  animation: none;
  transition: none;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 20%,
    rgba(0, 231, 255, 0.9) 40%,  /* Anpassung der Verlaufspunkte */
    rgba(255, 0, 231, 0.9) 60%,  /* Anpassung der Verlaufspunkte und Opazität */
    transparent 80%,  /* Anpassung der Verlaufspunkte und Opazität */
    transparent 100%  /* Anpassung der Verlaufspunkte */ 
  );
}

.card.active:after {
  opacity: 1;
  background-size: 120%; /* Vergrößere den Halo-Effekt */
  left: -10%; /* Verschiebe den Halo-Effekt nach links */
  top: -10%; /* Verschiebe den Halo-Effekt nach oben */
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  /* mix-blend-mode: color-dodge; */
  opacity: 0.9;
  z-index: 1;
  animation: holoGradient 3s ease infinite;
}

.card:after {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");  /* Star Sparkle Efect */
  background-size: 180%;
  mix-blend-mode: color-dodge;
  opacity: 1;
  z-index: 2;
  animation: starSparkle 3s ease infinite;
}

.card:hover:before {  /* Hologramm Efect Efect */
  opacity: 1;
  animation: none;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 25%,
    rgba(0, 231, 255, 0.7) 45%,
    rgba(255, 0, 231, 0.7) 55%,
    transparent 70%,
    transparent 100%
  );
}

.card:hover:after {
  opacity: 1;
}

/* At Single Image  */
.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20%); /* Apply the blur effect */
  z-index: 1; /* Place the blurred background behind the active card */
}

.enlarged-card-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9); /* Background color with some transparency */
  z-index: 999; /* Place the container on top of everything else */
}

.enlarged-card {
  width: 500px; /* Adjust the width as needed */
  height: 700px; /* Adjust the height as needed */
  background-color: #211799;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.no-animation {
  animation: none !important;  
}

.prices-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4979c9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.prices-button:hover {
  background-color: #6691db;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4979c9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;  
}

.back-button:hover {
  background-color: #6691db;
}

.searchSection {
  margin-bottom: 20px;
}

.searchInput {
  height: 34px;  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4979c9;
  gap: 20px;
}

.Copyright {
  color: black;
}

.links {
  text-decoration: none;
  color: #211799;
  cursor: pointer;
}

.links:hover {
  color: #5a51bd;
}

.displayFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vh100 {
    height: 100vh;
}

.colorBlack {
  color: black;
}

/* Entferne das Hintergrundbild von .card:after, wenn die Klasse "open-stats" vorhanden ist */
.open-stats .card:after {
  background-image: none;
}

.open-stats .card:hover:before {
  opacity: 0;
}


/* Animations */
@keyframes starSparkle {
  0%,
  5% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes holoGradient {
  0%,
  100% {
    opacity: 0;
    background-position: 0% 0%;
  }
  8% {
    opacity: 0;
  }
  19% {
    background-position: 100% 100%;
    opacity: 0.5;
  }
  35% {
    background-position: 100% 100%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}

@keyframes cardTransformRotate {
  0%,
  100% {
    transform: none;
  }
  25% {
    transform: rotateZ(-3deg) rotateX(-7deg) rotateY(6deg);
  }
  66% {
    transform: rotateZ(3deg) rotateX(7deg) rotateY(-6deg);
  }
}

@media (max-width: 600px) {
  .enlarged-card {
    width: 250px; 
    height: 350px;
  }

  .card {
    width: 250px; 
    height: 350px;
  }
}



/* Loading screen styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/pokemon-background-desktop-1600x900.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  text-align: start;
  font-size: 48px;
  color: #211799;
}