/* Font Family */
@font-face {
  font-family: "Heebo-Regular";
  src: url("./fonts/static/Heebo-Regular.ttf");
}

/* Body */
body {
  margin: 0;
  /*height: 100vh;*/
  font-family: "Heebo-Regular", sans-serif;
  color: white;
  background-color: #4979c9;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #4979c9;
}

.logoImgHeader {
  width: 300px;
}

/* Content Card */
.content {
  position: relative;  
  background-color: #211799;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 3px solid black;
}

.card {
  width: 320px;
  height: 446px;
  background-color: #211799;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;  
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px;
  cursor: pointer;  
}

.card.active {  
  transform: scale(1.2); /* Enlarge the active card */
  z-index: 2; /* Bring the active card to the front */
}

.card.active:before {
  opacity: 1;
  animation: none;
  transition: none;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 20%,
    rgba(0, 231, 255, 0.9) 40%,  /* Adjustment of the gradient points */
    rgba(255, 0, 231, 0.9) 60%,  /* Adjustment of the gradient points and opacity */
    transparent 80%,  /* Adjustment of gradient points and opacity */
    transparent 100%  /* Adjustment of gradient points */ 
  );
}

.card.active:after {
  opacity: 1;
  background-size: 120%; /* Increase the halo effect */
  left: -10%; /* Move the halo effect to the left */
  top: -10%; /* Move the halo effect to the right */
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: 200% 200%;  
  opacity: 0.9;
  z-index: 1;
  animation: holoGradient 3s ease infinite;
}

.card:after {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");  /* Star Sparkle Efect */
  background-size: 180%;
  mix-blend-mode: color-dodge;
  opacity: 1;
  z-index: 2;
  animation: starSparkle 3s ease infinite;
}

.card:hover:before {  /* Hologramm Efect Efect */
  opacity: 1;
  animation: none;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 25%,
    rgba(0, 231, 255, 0.7) 45%,
    rgba(255, 0, 231, 0.7) 55%,
    transparent 70%,
    transparent 100%
  );
}

.card:hover:after {
  opacity: 1;
}

/* At Single Image  */
.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20%); /* Apply the blur effect */
  z-index: 1; /* Place the blurred background behind the active card */
}

.enlarged-card-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9); /* Background color with some transparency */
  z-index: 999; /* Place the container on top of everything else */  
}

.enlarged-card-container-for-searched-pokemon {
  width: 100%;
  height: 100%;  
  background-color: rgba(0, 0, 0, 0.9); /* Background color with some transparency */  
}

.enlarged-card {
  width: 500px; /* Adjust the width as needed */
  height: 700px; /* Adjust the height as needed */
  background-color: #211799;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.all-pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.no-animation {
  animation: none !important;  
}

.button-container {
  display: flex;
  gap: 20px;
}

.prices-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4979c9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.prices-button:hover {
  background-color: #6691db;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4979c9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.back-button:hover {
  background-color: #6691db;
}

.searchSection {
  margin-bottom: 20px;
}

.searchInput {
  height: 34px;
  border-radius: 15px;
  border-color: black;
  border: 2px solid;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #312896;  
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.search-button:hover {  
  background-color: #4b4592;
}

.icon {
  margin-right: 5px;
  display: none;
}

.loading {
  background-color: #4b4592;
  color: black;
}

.loading .icon {
  display: inline-block;
  color: black;
  animation: spin 2s linear infinite;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #4979c9;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.Copyright {
  color: black;
}

.links {
  text-decoration: none;
  color: #211799;
  cursor: pointer;  
}

.links:hover {
  color: #5a51bd;
}

.impressumContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: black;
  background-color: rgb(185, 184, 184);
}

/* Generel classes */
.displayFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button-with-margin {
  margin: 50px;
}

.vh65 {
    height: 65vh;
}

.colorBlack {
  color: black;
}

/*Remove the background image from .card:after if the "open-stats" class is present */
.open-stats .card:after {
  background-image: none;
}

.open-stats .card:hover:before {
  opacity: 0;
}

/* Loading screen styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/pokemon-background-desktop-1600x900.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  text-align: start;
  font-size: 48px;
  color: #211799;
}

/* Animations */
/* StarSparkle animation */
@keyframes starSparkle {
  0%,
  5% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* Hologramm hover efect animation */
@keyframes holoGradient {
  0%,
  100% {
    opacity: 0;
    background-position: 0% 0%;
  }
  8% {
    opacity: 0;
  }
  19% {
    background-position: 100% 100%;
    opacity: 0.5;
  }
  35% {
    background-position: 100% 100%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}

/* Spin animation vor searching pokemon button */
@keyframes spin {
  0%
  {
    transform: rotate(0deg);
  }
  
  100%
  {
    transform: rotate(360deg);
  }
  
}

/* Responsive */
@media (max-width: 600px) {
  .enlarged-card {
    width: 250px; 
    height: 350px;
  }

  .searchSection {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
}

/* Ändern der Farbe des Scrollbalkens */
::-webkit-scrollbar {
  width: 12px; /* Breite des Scrollbalkens */
  background-color: #f1f1f1; /* Hintergrundfarbe des Scrollbalkens */
}

/* Ändern der Farbe des Scrollbalken-Daumens (der bewegliche Teil des Scrollbalkens) */
::-webkit-scrollbar-thumb {
  background-color: #FFCE31; /* Farbe des Scrollbalken-Daumens */
  border-radius: 6px; /* Abrundung des Daumens */
}

/* Ändern der Farbe des Scrollbalken-Tracks (der nicht bewegliche Teil des Scrollbalkens) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Farbe des Track */
}